<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Heroku Test</title>
</head>
<body>
    <main>
        <h1>You can do it!</h1>
        <img src="images/mac_logo.png" alt="mac logo">
        <h1>Introduction</h1>
        <p>MAC Cosmetics, stylized as M·A·C, is a cosmetics manufacturer founded in Toronto, Canada in 1984 by Frank Toskan and Frank Angelo. The company is headquartered in New York City and became part of the Estée Lauder Companies in 1996. MAC is an acronym for Make-up Art Cosmetics</p>
    </main>

    <script src="js/main.js"></script>
</body>
</html>